<h1 class="page-header"><%= @company.name %> Developer Timetable for <%= @dates.first.strftime("%B %Y") %>
  <%= link_to 'Add Developer to Project', new_schedule_path, :class => 'btn btn-primary', :style => 'float:right;' %>
</h1>

<%= render 'layouts/notice' %>

<ul class="pager">
  <li class="previous">
    <%= link_to raw('<i class="icon-circle-arrow-left"></i> Previous Month'), board_index_path(:date => @dates.first.prev_month) %>
  </li>
  <li>
    <%= link_to 'Current Month', board_index_path(:date => Date.today) %>
  </li>
  <li class="next">
    <%= link_to raw('Next Month <i class="icon-circle-arrow-right"></i>'), board_index_path(:date => @dates.first.next_month) %>
  </li>
</ul>

<table class="table table-bordered table-striped responsive-utilities" id="board_calendar">
  <thead>
    <tr>
      <th class="th_board_size">
         Developer<br />Name
      </th>
      <th>
        <div class="weekday_name_container">
          <div class="weekday_name">
            <span>Action</span>
          </div>
        </div>
      </th>
      <% @dates.each do |date| %>
        <th<%= color_column(date) %>>
          <div class="weekday_name_container">
            <div class="weekday_name">
              <%= date.strftime("%a") %>
            </div>
          </div>
          <%= date.strftime("%d") %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @company.developers.each do |dev| %>
    <tr>
      <td><%= dev.name %></td>
      <td>
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle"><i class="caret"></i></button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-ok"></i> Approve Your Month</a></li>
          </ul>
        </div>
      </td>
      <% @dates.each do |date| %>
      <td<%= color_column(date) %>>
        <% dev.schedules.each do |schedule| %>
          <% if day = schedule.days.find{ |d| d.date == date } %>
            <% fraction = hours_to_fraction(day.hours) %>
            <div class="link_container">
              <a href="<%= project_path(schedule.project_id) %>" rel="tooltip" title="<%= schedule.project_name + ' | Time: ' + fraction %>"><%= schedule.project_name[0] %></a>
            </div>
            <%= pie_chart(fraction, schedule.project_color) %><br />
          <% end %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>