<%= form_for(schedule, :url => params[:url], :html => {:class => 'form-horizontal'}) do |f| %>
<% if schedule.errors.any? %>
<div class="alert alert-error">
  <ul>
    <% schedule.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="control-group">
  <label class="control-label">Project Name:</label>
  <div class="controls">
    <%= text_field_tag 'project_name', project.name, :disabled => true %>
    <%= f.hidden_field :project_id, :value => project.id %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Pick Developer:</label>
  <div class="controls">
    <%= f.collection_select(:developer_id, developers, :id, :name) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :start_date, :class => 'control-label' %>
  <div class="controls">
    <%= f.date_select "start_date" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :end_date, :class => 'control-label' %>
  <div class="controls">
    <%= f.date_select "end_date" %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit :class => 'btn btn-primary' %>
  <%= link_to 'Back', project_path(project), :class => 'btn' %>
</div>
<% end %>