<h1 class="page-header">Edit Schedule</h1>

<%= form_for(@schedule, :url => project_schedule_path(@project.id, @schedule.id)) do |f| %>
   <% if @schedule.errors.any? %>
      <div>
         <% @schedule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </div>
   <% end %>

   <div>
      <label>Project Name:</label>
      <%= text_field_tag 'project_name', @project.name, :disabled => true %>
      <%= f.hidden_field :project_id, :value => @project.id %>
   </div>

   <div>
      <label>Pick Developer:</label>
      <%= f.collection_select(:developer_id, @developers, :id, :name) %>
   </div>
   <div>
      <%= f.label :start_date %>
      <%= f.date_select "start_date" %>
   </div>
   <div>
      <%= f.label :end_date %>
      <%= f.date_select "end_date" %>
   </div>
   <%=  f.submit %>
<% end %>