<%= form_for(@schedule, :url => project_schedules_path(@project)) do |f| %>
   <div>
      <label>Project Name:</label>
      <%= text_field_tag 'project_name', @project.name, :disabled => true %>
   </div>

   <div>
      <label>Pick Developer:</label>
      <%= f.collection_select(:developer_id, @developers, :id, :name) %>      
   </div>
   <div>
      <%= f.label :start_date %>
      <%= f.date_select "start_date" %>
   </div>
   <div>
      <%= f.label :end_date %>
      <%= f.date_select "end_date" %>
   </div>
   <%=  f.submit %>
<% end %>