<h1 class="page-header">Edit Project</h1>

<%= form_for(@project) do |f| %>
   <% if @project.errors.any? %>
      <div>
         <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </div>
   <% end %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <%= f.submit %>
<% end %>
<%= link_to 'Back', projects_path %>