<h1 class="page-header"><%= @project.name %> <%= link_to 'edit project', edit_project_path(@project), :class => 'btn btn-mini' %></h1>

<% if @schedules.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th class="action_td_with">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.developer_name %></td>
        <td><%= schedule.start_date %></td>
        <td><%= schedule.end_date %></td>
        <td>
          <%= link_to 'edit', edit_project_schedule_path(@project, schedule), :class => 'btn btn-mini' %>
          <%= link_to 'delete', project_schedule_path(@project, schedule), :method => :delete, :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  </tbody>
  </table>
<% else %>
  <div class="alert alert-block">There is no schedules.</div>
<% end %>

<div class="form-actions">
  <%= link_to 'Add Developer to This Project', new_project_schedule_path(@project), :class => 'btn btn-primary' %>
  <%= link_to 'Back', projects_path, :class => 'btn' %>
</div>
