<h1 class="page-header">Developer Timetable for <%= @dates.first.strftime("%B %Y") %></h1>

<ul class="pager">
  <li class="previous">
    <%= link_to raw('<i class="icon-circle-arrow-left"></i> Previous Month'), root_path(:date => @dates.first.prev_month) %>
  </li>
  <li>
    <%= link_to 'Current Month', root_path(:date => Date.today) %>
  </li>
  <li class="next">
    <%= link_to raw('Next Month <i class="icon-circle-arrow-right"></i>'), root_path(:date => @dates.first.next_month) %>
  </li>
</ul>

<table class="table table-bordered table-striped responsive-utilities">
   <thead>
   <tr>
      <th>Developer<br>Name</th>
      <% @dates.each do |date| %>
         <th>
            <%= date.strftime("%a\n%d") %>
         </th>
      <% end %>
   </tr>
   </thead>
   <tbody>
   <% @developers.each do |dev| %>
      <tr>
         <td>
            <%= dev.name %>
         </td>
         <% @dates.each do |date| %>
            <td>
               <% dev.schedules.each do |schedule| %>
                  <% if schedule.start_date <= date and schedule.end_date >= date %>
                     <span rel="tooltip" class="label label-success" title="<%= schedule.project.name %>">x</span>
                  <% end %>
               <% end %>
            </td>
         <% end %>
      </tr>
   <% end %>
   </tbody>
</table>