<h1 class="page-header">Developer Timetable for <%= @dates.first.strftime("%B %Y") %></h1>

<ul class="pager">
  <li class="previous">
    <%= link_to raw('<i class="icon-circle-arrow-left"></i> Previous Month'), root_path(:date => @dates.first.prev_month) %>
  </li>
  <li>
    <%= link_to 'Current Month', root_path(:date => Date.today) %>
  </li>
  <li class="next">
    <%= link_to raw('Next Month <i class="icon-circle-arrow-right"></i>'), root_path(:date => @dates.first.next_month) %>
  </li>
</ul>

<table class="table table-bordered table-striped responsive-utilities" id="board_calendar">
  <thead>
    <tr>
      <th class="th_board_size">
         Developer<br />Name
      </th>
      <% @dates.each do |date| %>
        <th<%= if weekend? date then raw ' class="weekend"' end %>>
          <div class="weekday_name_container">
            <div class="weekday_name">
              <%= date.strftime("%a") %>
            </div>
          </div>
          <%= date.strftime("%d") %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |dev| %>
    <tr>
      <td><%= dev.name %></td>
      <% @dates.each do |date| %>
      <td<%= if weekend? date then raw ' class="weekend"' end %>>
        <% dev.schedules.each do |schedule| %>
          <%# don't show project if weekend %>
          <%# if schedule.start_date <= date and schedule.end_date >= date and !weekend? date %>
          <% if schedule.start_date <= date and schedule.end_date >= date %>
            <a href="<%= project_path(schedule.project_id) %>" rel="tooltip" class="label label-success" style="background:<%= schedule.project_color %>;" title="<%= schedule.project_name %>"><%= schedule.project_name[0] %></a>
          <% end %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>