<!DOCTYPE html>
<html>
<head>
   <title>TeamScheduler</title>
   <%= stylesheet_link_tag "application", :media => "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
</head>
<body>
	
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">
				Team Scheduler
			</a>
			<ul class="nav">
				<li><%= li_menu_item 'Board', boards_path %></li>
				<li><%= li_menu_item 'Developers', developers_path %></li>
				<li><%= li_menu_item 'Projects', projects_path %></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
